@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Jost", sans-serif;
}
.bg2 {
  background-color: #380784;
}
.bg {
  background-color: #fd0388;
}
.bg-txt {
  color: #fd0388;
}
.header-top-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #380784;
  padding: 10px 0;
  color: white;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.scrolling-text {
  display: block;
  /* white-space: nowrap; */
  width: 100%;
  animation: scrollText 25s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* @media (min-width: 768px) {
  .slider-img {
    height: 900px !important;
  }
} */
/* .collapse {
  background-color: #ccc !important;
} */

@media (max-width: 768px) {
  .top {
    top: 30px;
    position: fixed !important;
    z-index: 1000;
    width: 100%;
  }
  .font1 {
    font-family: EB Garamond, serif;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 6px 7px 6px #000;
  }
  .slider-text {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.font {
  font-family: EB Garamond, serif;
  font-size: 32px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .top {
    top: 40px;
    position: fixed !important;
    z-index: 1000;
    width: 100%;
  }

  .slider-text {
    top: 40%;
    /* left: 150px; */
  }

  .font1 {
    font-family: EB Garamond, serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 6px 7px 6px #000;
  }
  .font2 {
    font-size: 16px;
    font-weight: 500;
    font-family: "inter" !important;
    /* line-height: 30px; */
  }
}
.font3 {
  font-size: 16px;
  font-family: "inter" !important;
  /* text-align: justify; */
}
